streamlit
pandas
plotly
google-api-python-client
tweepy
spotipy
beautifulsoup4
mlxtend
scikit-learn
pytrends>=4.9.2
requests>=2.25.0
pytrends>=4.9.2
urllib3<2.0
curl_cffi>=0.5.7
pytrends>=4.9.2
streamlit>=1.46.1
pandas>=2.3.0
requests>=2.32.4
urllib3==1.26.20
tweepy>=4.16.0
spotipy>=2.25.1
streamlit>=1.46.1
pandas>=2.3.0
requests>=2.32.4
urllib3==1.26.20
tweepy>=4.16.0
spotipy>=2.25.1
pytrends>=4.9.2
google-api-python-client>=2.175.0
scikit-learn>=1.7.0
matplotlib>=3.10.3
plotly>=6.2.0
mlxtend>=0.23.4
altair>=5.5.0
pyarrow>=20.0.0
